# Install the SDK

## As a standalone package

```bash
pip install owi-metadatabase-{{ project_slug }}
```

Using `uv`:

```bash
uv pip install owi-metadatabase-{{ project_slug }}
```

## As a core-package extra

```bash
pip install "owi-metadatabase[{{ project_slug }}]"
```

Using `uv`:

```bash
uv pip install "owi-metadatabase[{{ project_slug }}]"
```

## Development setup

```bash
git clone https://github.com/OWI-Lab/owi-metadatabase-{{ project_slug }}-sdk.git
cd owi-metadatabase-{{ project_slug }}-sdk
uv sync --dev
```
