from owi.metadatabase.{{ project_slug }}.io import {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API


def test_ping() -> None:
    api = {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API()
    assert api.ping() == "ok"

def test_default_base_url() -> None:
    api = {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API()
    assert api.base_url.startswith("https://")
