"""{{ project_description }}."""

from .io import {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API

__all__ = ["{{ project_name | replace('-', ' ') | title | replace(' ', '') }}API"]
