"""{{ project_description }}."""

from .io import {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API

__version__ = "0.1.0"

__all__ = ["{{ project_name | replace('-', ' ') | title | replace(' ', '') }}API", "__version__"]
