# Quick Start

```python
from owi.metadatabase.{{ project_slug }} import {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API

api = {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API(token="your-api-token")
print(api.ping())
```
