# Authors

| Name | Role | Email | Affiliation |
|------|------|-------|-------------|
| {{ author_name }} | Maintainer | [{{ author_email }}](mailto:{{ author_email }}) | [{{ author_affiliation }}]({{ author_affiliation_url }}) |
