# {{ project_name | title }} Extension

{{ project_description }}

## Quick Example

```python
from owi.metadatabase.{{ project_slug }}.io import {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API

api = {{ project_name | replace('-', ' ') | title | replace(' ', '') }}API()
print(api.ping())
```
